{% extends "layout.html" %}
{% block body %}
<div class="columns mt-3">
    <div class="column is-two-thirds is-offset-one-fifth">
    <form class="box">
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input" type="text" placeholder="username">
            </div>
            </div>
        <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="email" placeholder="e.g. jon@doe.com">
        </div>
        </div>
    
        <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password" placeholder="********">
        </div>
        </div>
        <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="********">
            </div>
            </div>
    
        <button class="button is-primary">Registrarme</button>
    </form>
    </div>
</div>
{% endblock %}
