{% extends "layout.html" %}

{% block title %}Ingresar{% endblock %}

{% block body %}
<div class="columns">
  <div class="column is-three-fifths is-offset-one-fifth">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        
        {% for message in messages %}
          <div class="box">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</div>
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <form action="/confirmar" method="POST" class="box">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" name="email" type="email" placeholder="e.j juan@perez.com">
                </div>
              </div>
            <div class="field">
              <label class="label">Clave</label>
              <div class="control">
                <input class="input" name="password" type="password" placeholder="********">
              </div>
            </div>
          
            <button class="button is-success">Ingresar</button>
        </form>
    </div>
</div>

{% endblock %}