<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
        <h1>Calculadora</h1>
        <form action="/calculo" method="POST">
            <div class="container p-4 border">
                <div class="row">
                <div class="col bg-primary p-4">
                    <label for="nr1" class="form-label">Numero 1</label>
                    <input type="number" class="form-control" name="nr1" id="nr1" placeholder="Numero 1" required>
                </div>
                <div class="col bg-primary p-4">
                    <label for="a" class="form-label">Aritmetica</label>
                    <select class="form-select" name="a" id="a" placeholder="Aritmetica" required>
                        <option value="+" selected>Sumar</option>
                        <option value="-">Restar</option>
                        <option value="*">Multiplicar</option>
                        <option value="/">Dividir</option>
                        <option value="**">Elevar</option>
                      </select>
                </div>
                <div class="col bg-primary p-4">
                    <label for="nr2" class="form-label">Numero 2</label>
                    <input type="number" class="form-control" name="nr2" id="nr2" placeholder="Numero 2" required>
                </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Calcular</button>
            </div>
        </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>